<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="windowTitle" value="ウィンドウタイトル"/>
    <add key="userid" value="userid"/>
    <add key="password" value="password"/>
    <add key="interval" value="3000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>